$primary-color: #2965cc;

@import "node_modules/spectre.css/src/spectre";
@import "node_modules/spectre.css/src/spectre-exp";
@import "node_modules/spectre.css/src/spectre-icons";

.form-label {
  padding: 0 0 0.3rem 0;
}

.navbar {
  padding: 40px 0;

  h2 {
    margin: 0;
  }
}

.footer {
  margin: 40px 0;
  justify-content: center;
}

.share {
  padding: 20px 0px;
}

.inline-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & > *:not(:last-child) {
    margin-right: 4px;
  }
}

.toaster {
  position: fixed;
  z-index: 1;
  bottom: 15px;
  right: 15px;

  .toast:not(:last-child) {
    margin-bottom: 4px;
  }
}
