$primary-color: #2965cc;

@import "node_modules/spectre.css/src/spectre";
@import "node_modules/spectre.css/src/spectre-exp";
@import "node_modules/spectre.css/src/spectre-icons";

.form-label {
  padding: 0 0 0.3rem 0;
}

.navbar {
  padding: 20px 0;

  h2 {
    margin: 0;
  }
}

.footer {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
